@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.mt-9 {
  margin-top: 9rem !important;
}

.mt-10 {
  margin-top: 10rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.mr-6 {
  margin-right: 6rem !important;
}

.mr-7 {
  margin-right: 7rem !important;
}

.mr-8 {
  margin-right: 8rem !important;
}

.mr-9 {
  margin-right: 9rem !important;
}

.mr-10 {
  margin-right: 10rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}

.mb-10 {
  margin-bottom: 10rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.ml-6 {
  margin-left: 6rem !important;
}

.ml-7 {
  margin-left: 7rem !important;
}

.ml-8 {
  margin-left: 8rem !important;
}

.ml-9 {
  margin-left: 9rem !important;
}

.ml-10 {
  margin-left: 10rem !important;
}

.header {
  display: flex;
  align-items: center;
  padding: 3rem 0;
}

.header__logo {
  width: 10rem;
}

.showcase {
  display: flex;
  align-items: center;
  padding-top: 3rem;
}

.showcase__content {
  flex-basis: 50%;
  padding-right: 7rem;
}

.showcase__img-container {
  flex-basis: 50%;
}

.showcase__img-container img {
  width: 100%;
}

.showcase__main-text {
  color: #9e9aa7;
}

.features {
  background-color: #f0f1f6;
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  padding: 0.7rem 1.7rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: #ffffff;
  background-color: #bfbfbf;
}

.btn--primary {
  color: #ffffff;
  background-color: #2acfcf;
}

.btn--primary:hover {
  background-color: #7ce4e4;
}

.btn--primary:focus {
  box-shadow: 0 0 0 0.5rem rgba(42, 207, 207, 0.8);
  outline: 0;
}

.btn--primary:active {
  outline: none;
}

.btn--squared {
  padding: 1.8rem 0rem;
  border-radius: 1rem;
  font-size: inherit;
}

.btn--copy {
  color: #ffffff;
  background-color: #2acfcf;
  padding: 0.8rem 2.5rem;
  border-radius: 0.4rem;
}

.btn--copy:hover {
  background-color: #7ce4e4;
}

.btn--copy:focus {
  background-color: #3b3054;
  outline: 0;
}

.heading-primary {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
}

.input {
  padding: 1.8rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
}

.input::placeholder {
  color: #9e9aa7;
  opacity: 1;
  /* Firefox */
}

.input:focus {
  box-shadow: 0 0 0 0.5rem #2acfcf;
  outline: none;
}

.navbar {
  display: flex;
  width: 100%;
}

.navbar a {
  text-decoration: none;
}

.navbar__list {
  list-style: none;
  display: flex;
}

.navbar__item:not(:last-child) {
  margin-right: 2rem;
}

.navbar__link {
  color: #9e9aa7;
  font-size: 1.3rem;
  font-weight: 700;
}

.navbar__link:hover, .navbar__link:focus, .navbar__link:active {
  color: #232127;
}

.shorten {
  padding: 4rem 4rem;
  background-color: #3b3054;
  background-image: url("/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 0.8rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.shorten__input {
  flex: 4;
}

.shorten__button {
  flex: 1;
}

.shortened-url {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  color: #000000;
}

.shortened-url a {
  text-decoration: none;
}

.shortened-url__result a {
  color: #2acfcf;
}

.shortened-url__result a:active {
  color: #3b3054;
}

.shortened-url__original {
  margin-right: auto;
}

.shortened-url__original a {
  color: #232127;
}

.shortened-url__original a:active {
  color: #9e9aa7;
}

.shortened-url__action-area {
  display: flex;
  align-items: center;
}

.shortened-url__action-area > button {
  margin-left: 1rem;
}

.shortened-url:not(:last-child) {
  margin-bottom: 1rem;
}

.shorten-container {
  position: relative;
  bottom: 7rem;
  margin-bottom: 2rem;
}
