$primary-color: hsl(180, 66%, 49%);
$primary-color-dark: hsl(257, 27%, 26%);
$secondary-color: hsl(0, 87%, 67%);
$gray-color: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$dark-violet: hsl(260, 8%, 14%);
$dark-blue: hsl(255, 11%, 22%);
