.btn {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  padding: 0.7rem 1.7rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  font-weight: 700;

  // For button elements
  border: none;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: $gray-color;
  }

  &--primary {
    color: #ffffff;
    background-color: $primary-color;

    &:hover {
      background-color: lighten($primary-color, 20);
    }

    &:focus {
      box-shadow: 0 0 0 0.5rem rgba($primary-color, 0.8);
      outline: 0;
    }

    &:active {
      // Button elements
      outline: none;
    }
  }

  &--squared {
    padding: 1.8rem 0rem;
    border-radius: 1rem;
    font-size: inherit;

    @include medium-media {
      padding: 1.5rem 0rem;
      border-radius: 0.5rem;
    }
  }

  &--md {
    padding: 0.8rem 2.7rem;
  }

  &--copy {
    color: #ffffff;
    background-color: $primary-color;
    padding: 0.8rem 2.5rem;
    border-radius: 0.4rem;

    &:hover {
      background-color: lighten($primary-color, 20);
    }

    &:focus {
      background-color: $primary-color-dark;
      outline: 0;
    }

    &.copied {
      background-color: $primary-color-dark;
    }

    @include medium-media {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }
  }
}
