.card {
  position: relative;

  background-color: #ffffff;
  border-radius: 0.5rem;

  padding-top: 7rem;
  padding-bottom: 3rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;

  height: 23rem;
  max-width: 28rem;

  text-align: left;

  &:nth-child(1) {
    top: -3.5rem;
  }

  &:nth-child(3) {
    bottom: -3.5rem;
  }

  &:not(:last-child) {
    margin-right: 2.5rem;
  }

  &__image-container {
    position: absolute;
    top: -6rem;
    transform: translateY(25%);

    background-color: $primary-color-dark;
    padding: 2rem;
    border-radius: 50%;

    width: 8rem;
    height: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 100%;
  }

  &__heading {
    margin-bottom: 1rem;
  }

  &__text {
    color: $grayish-violet;
    font-size: 1.2rem;
    line-height: 1.8;
  }
}

.cards-container {
  display: flex;
  justify-content: center;

  position: relative;

  margin-top: 12rem;

  // Rectangular behind cards.
  &::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 0.8rem;
    transform: translateY(10rem);
    background-color: $primary-color;
  }
}
