.card {
  position: relative;
  z-index: 100;

  background-color: #ffffff;
  border-radius: 0.5rem;

  padding-top: 7rem;
  padding-bottom: 3rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;

  height: 23rem;
  max-width: 28rem;

  text-align: left;

  &--1 {
    top: -3.5rem;
  }

  &--3 {
    bottom: -3.5rem;
  }

  &:not(:last-child) {
    margin-right: 2.5rem;
  }

  &__image-container {
    position: absolute;
    top: -6rem;
    transform: translateY(25%);

    background-color: $primary-color-dark;
    padding: 2rem;
    border-radius: 50%;

    width: 8rem;
    height: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 100%;
  }

  &__heading {
    margin-bottom: 1rem;
  }

  &__text {
    color: $grayish-violet;
    font-size: 1.2rem;
    line-height: 1.8;
  }

  @include large-media($strict_media: true) {
    text-align: center;

    &--1 {
      top: 0;
      grid-area: card1;
    }

    &--2 {
      grid-area: card2;
    }

    &--3 {
      bottom: 0;
      grid-area: card3;
    }

    &:not(:last-child) {
      margin-right: 0;
    }

    &__image-container {
      left: 50%;
      transform: translateX(-50%);
      top: -4rem;
    }
  }

  @include medium-media {
    text-align: center;
    max-width: 100%;

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 5rem;
    }

    &__image-container {
      left: 50%;
      transform: translateX(-50%);
      top: -4rem;
    }

    &__text {
      font-size: 1.6rem;
    }
  }

  @include small-media {
    &__text {
      font-size: 1.3rem;
    }
  }
}

.cards-container {
  display: flex;
  justify-content: center;

  position: relative;

  margin-top: 12rem;

  // Rectangular behind cards.
  &::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 0.8rem;
    transform: translateY(10rem);
    background-color: $primary-color;
  }

  @include large-media($strict_media: true) {
    display: grid;
    grid-template-areas:
      'card1 card2'
      'card3 card3';
    row-gap: 10rem;
    column-gap: 7rem;
    justify-items: center;

    &::before {
      display: none;
    }
  }

  @include medium-media {
    flex-direction: column;
    align-items: center;

    &::before {
      transform: rotate(90deg) translateY(0);
      width: 45rem;
    }
  }
}
