.header {
  display: flex;
  align-items: center;
  padding: 3rem 0;

  &__logo {
    width: 10rem;
  }
}

.showcase {
  display: flex;
  align-items: center;
  padding-top: 3rem;

  &__content {
    flex-basis: 50%;
    padding-right: 7rem;
  }

  &__img-container {
    flex-basis: 50%;

    img {
      width: 100%;
    }
  }

  &__main-text {
    color: $grayish-violet;
  }

  @include large-media {
    &__content {
      padding-right: 2rem;
      flex-basis: 100%;

      & > .heading-primary {
        margin-bottom: 1rem;
      }
    }

    &__img-container {
      flex-basis: 100%;
    }
  }

  @include medium-media {
    flex-direction: column;

    &__content {
      flex-basis: 100%;
      padding-right: 0;
      text-align: center;
    }

    &__img-container {
      order: -1;
      flex-basis: 100%;
      margin-bottom: 2rem;
    }
  }
}

.features {
  background-color: $gray-color-light;
  text-align: center;
  padding-bottom: 13rem;

  &__header {
    width: 47%;
    margin: 0 auto;
  }

  &__heading {
    padding: 2rem;
  }

  &__text {
    color: $grayish-violet;
  }

  @include medium-media {
    &__header {
      width: 100%;
    }
  }
}

.footer {
  background-color: $dark-violet;
  color: #ffffff;
  padding: 7rem 15rem;

  display: grid;
  grid-template-areas: 'logo logo list1 list2 list3 social';

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:active {
      color: $primary-color;
    }
  }

  &__logo {
    grid-area: logo;
  }

  &__list {
    &--1 {
      grid-area: list1;
    }

    &--2 {
      grid-area: list2;
    }

    &--3 {
      grid-area: list3;
    }

    &__heading {
      margin-bottom: 2rem;
    }

    &__item {
      font-size: 1.2rem;
      color: $gray-color;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__social-list {
    grid-area: social;
    display: flex;
    align-items: baseline;

    &__icon {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  @include x-large-media {
    grid-template-areas: 'logo list1 list2 list3 social';
  }

  @include large-media {
    padding: 5rem 3rem;

    > * {
      justify-self: center;
    }
  }

  @include medium-media {
    padding: 5rem 0;
    grid-template-areas:
      'logo logo logo'
      'list1 list2 list3'
      'social social social';
    text-align: center;

    &__logo {
      margin-bottom: 3rem;
    }

    &__list {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    &__social-list {
      margin-top: 1.5rem;
    }
  }

  @include x-small-media {
    grid-template-areas: 'logo' 'list1' 'list2' 'list3' 'social';
  }
}
