.header {
  display: flex;
  align-items: center;
  padding: 3rem 0;

  &__logo {
    width: 10rem;
  }
}

.showcase {
  display: flex;
  align-items: center;
  padding-top: 3rem;

  &__content {
    flex-basis: 50%;
    padding-right: 7rem;
  }

  &__img-container {
    flex-basis: 50%;

    img {
      width: 100%;
    }
  }

  &__main-text {
    color: $grayish-violet;
  }
}

.features {
  background-color: $gray-color-light;
  text-align: center;
}
